.button {
    display: inline-block;
    padding: 17.5px 87.5px 17.5px 113.5px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0;
    position: relative;
    margin-top: 24px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.button:hover {
    background-color: hsl(158, 42%, 18%);
}

.button__label {
    position: relative;
    display: inline-block;
}

.button__label::after {
    content: url('../../../../public/svg/icon-cart.svg');
    display: block;
    position: absolute;
    /* width: 15.75px; */
    /* height: 15.75px; */
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 992px) {
    .button {
        padding: 17.5px 62.5px 17.5px 88.5px;
    }
}